
<html>
  <head>
    <title>Boatcraft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Bitter|Crimson+Text:400,700|Josefin+Sans:400,600&display=swap" rel="stylesheet">

  </head>

  <header>
    <a href='/'>Home</a>
    <a href='/index'>Inventory</a>
    <a href='/about'>About</a>
    <a href='/boats/new'> Add Boat </a>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
